<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ECMPS.Checks.DatabaseAccess.Properties.Settings.ECMPS_AUXConnectionString" connectionString="Data Source=sugarhollow\dev;Initial Catalog=ECMPS_AUX;Persist Security Info=True;User ID=ecmps_user;Password=ecmps;Application Name=&quot;Visual Studio 2008&quot;" providerName="System.Data.SqlClient"/>
        <add name="ECMPS.Checks.DatabaseAccess.Properties.Settings.ECMPSConnectionString" connectionString="Data Source=CONWAY\DEV;Initial Catalog=ECMPS;Integrated Security=True" providerName="System.Data.SqlClient"/>
        <add name="ECMPS.Checks.DatabaseAccess.Properties.Settings.ECMPS_AUXConnectionString1" connectionString="Data Source=CONWAY\DEV;Initial Catalog=ECMPS_AUX;Integrated Security=True" providerName="System.Data.SqlClient"/>
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
